<div class="flex-justify-align header-dashboard">
    <div class="row p-0 m-0 w-100 position-relative">
        <div class="d-flex justify-content-end">
            <div class="col-2 p-0 flex-justify-align">
                <div class="w-25 flex-justify-align">
                    <span class="cursor"><i class="fa-solid fa-bell"></i></span>
                </div>
                <div class="w-50 px-3">
                    <button type="button" class="btn-default" data-bs-toggle="dropdown">
                        <span class="text-xs fw-medium">Hi, </span>
                        <span class="text-xs fw-medium">{{acc.instructorName}}</span>
                    </button>
            
                    <ul class="dropdown-menu mt-4 menu-header-dropdown">
                        <div class="dropdown-header text-bg-success p-4">
                            <span class="text-m fw-medium">{{acc.instructorName}}</span>
                        </div>
                        <li class="dropdown-item p-3">
                            <button type="button" class="btn w-100 d-flex align-items-start" ng-click="showDetail(acc.idInstructor, 'viewOverall')">
                                <span class="text-s text-success" ><i class="fa-regular fa-id-card"></i></span>
                                <span class="text-s mx-2">Overview</span>
                            </button>
                        </li>
                        <li class="dropdown-item px-3 py-2 border-top border-secondary-subtle">
                            <button class="Btn" ng-click="logOut()">
                                <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
                                <div class="text text-xs">Logout</div>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    
        <div 
            class="alert alert-success alert-dismissible notification"
            ng-class="acc.firstLogin ? 'alert-warning' : 'alert-success'"
            ng-show="acc.firstLogin"
        >
            <button type="button" class="btn-close" data-bs-dismiss="alert" style="padding: 1rem;"></button>
            <strong>{{acc.firstLogin ? 'Warning' : ''}}</strong>
            <span class="mx-2 text-s">Please change your password.</span>
        </div>
    </div>
</div>