<div class="row px-5 m-0 footer-dashboard">
    <div class="col-4 p-0 flex-justify-align border-end border-dark">
        <img src="/img/logoFpoly.png" alt="" class="img-fuild">
    </div>

    <div class="col-8 px-3" >
        <ul class="nav flex-column py-2">
            <li class="nav-item">
                <span class="text-m fw-bolder">About us</span>
            </li>
            <li class="nav-item">
                <span class="text-xs"><i class="fa-solid fa-phone"></i></span>
                <span class="text-xs mx-2">Phone: </span>
                <span class="text-xs fw-bolder">02873088800</span>
            </li>
            <li class="nav-item">
                <span class="text-xs"><i class="fa-solid fa-envelope"></i></span>
                <span class="text-xs mx-2">Department email addresses:</span>
            </li>
            <li class="nav-item" style="margin-left: 50px;">
                <span style="font-size: 6px;"><i class="fa-solid fa-circle"></i></span>
                <span class="text-xs">Student Services Department: </span>
                <span class="text-xs fw-bolder">dvsvpoly.hcm@poly.edu.vn</span>
            </li>
            <li class="nav-item" style="margin-left: 50px;">
                <span style="font-size: 6px;"><i class="fa-solid fa-circle"></i></span>
                <span class="text-xs">Department of Training Organization and Management:</span>
            </li>
            <li class="nav-item" style="margin-left: 100px;">
                <span style="font-size: 6px;"><i class="fa-regular fa-circle"></i></span>
                <span class="text-xs">Training: </span>
                <span class="text-xs fw-bolder">daotaofpoly.hcm@fe.edu.vn</span>
            </li>
            <li class="nav-item" style="margin-left: 100px;">
                <span style="font-size: 6px;"><i class="fa-regular fa-circle"></i></span>
                <span class="text-xs">Administration Department: </span>
                <span class="text-xs fw-bolder">taichinhfplhcm@fe.edu.vn</span>
            </li>
            <li class="nav-item">
                <span class="text-xs">General comments and contributions sent to ykien.poly@fpt.edu.vn by email @fpt.edu.vn</span>
            </li>
        </ul>
    </div>
</div>